
.header {
    color: rgb(5, 5, 5);
    width: 40em;
    height: 10em;
    padding: 5em;
    font-size: 2em;
    background-image: url(../img/rx78.jpg);
    background-size: cover;
    background-position: left;
    margin-top: 1em;
    border-radius: 30px;
    box-shadow: 5px 8px 10px;
    margin: 100px 0px 30px 100px;
}

.encabezado {
    color: rgb(245, 243, 241);
}

.header {
    display: block;
}

.subtitulo {
    color: rgb(255, 81, 0);
}

.imagen {
    text-align: left; 
}   

.products {
    width: 50%;
    margin-left: 100px;
}

.products td {
    color: rgb(241, 85, 12);
    width: 20%;
    padding: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#wing {
    color: blue ;
}

#seed {
    color: red;
}

#orphans {
    color: black;
}

.products img{
    border-radius: 20px;
    width: 75%;
    border: solid 3px #ddd;
    box-shadow: 5px 8px 10px;
    color: black;
    
}

.footer{
    
    height: 3em;
    line-height: 3em;
    background: rgb(36,29,0);
    background: linear-gradient(90deg, rgba(36,29,0,1) 0%, rgba(116,245,218,1) 0%, rgba(12,29,236,1) 100%);
    color: rgb(245, 243, 241);
    text-align: center;
    font-weight: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
}

.footer :hover {
    height: 3em;
    line-height: 3em;
    color: rgb(38, 25, 212);
    text-align: center;
    font-weight: 1000;
    font-style: oblique;
    
}